# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
number_float = 2.3

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

#short hand version

result += 2 #result = result +2
print(result)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print (result_diff)

#short hand version

result_diff -= 1 # result_diff = result_diff - 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

#short hand version

result_mul *=2
print(result_mul)

10.8
21.6

##### Division

In [6]:
result_div = num2/num1
print(result_div)

#short hand version

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)

#short hand version

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [8]:
result_mod = num2 % num1
print(result_mod)

#short hand version

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [9]:
square = 5 **2
print(square)

#short hand version

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = 'Naoufal'
print(name)

Naoufal

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print('This is my first name: ', name)

print('Full Name: ', name, end = ' Rhioui')

This is my first name:  Naoufal
Full Name:  Naoufal Rhioui

##### String Concatenation

In [12]:
first_name = 'John'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

#short hand version
full_name += ' Jr'
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [13]:
number_string = '32'

change_type_string = int(number_string)

print(number_string)
print(change_type_string)

print('\n')
print(type(number_string))
print(type(change_type_string))

32
32


<class 'str'>
<class 'int'>

##### input()

In [14]:
# Input will always return a string -- ALL THE TIME

age = input('what is your age?: ')
print(age)

add_age = int(age) + 1
print(add_age)

what is your age?: 29
29
30

##### format()

In [15]:
age = input('what is your age? ')
result_string = 'Youre are {} {} and you are getting wiser'.format(age,name)
print(result_string)

result_again = f'{age} is a great time in life!!!'
print(result_again)

what is your age? 29
Youre are 29 Naoufal and you are getting wiser
29 is a great time in life!!!

##### Old Way (python 2)

In [16]:
result_string2 = 'You are %s and you look great for your age' %age
print(result_string2)

You are 29 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [17]:
color = input('what is the color of your car?')
year = input('what year is your car?')
model = input('what is the model of your car?')
car_information = "The car\'s color is {}, the year is {}, make is honda, and model is {}".format(color, year, model)

print(car_information)

what is the color of your car?blue
what year is your car?2019
what is the model of your car?X5
The car's color is blue, the year is 2019, make is honda, and model is X5

### If Statements

In [18]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print('Not Equal')

if num2>= num1:
    print('Num2 is greater')
elif num1 <= num2:
        print('Num1 is less than num2')

Not Equal
Num2 is greater

##### 'is' keyword

In [19]:
num3 = 55

if num3 is 55:
    print('This is the number 55')

This is the number 55

##### 'in' keyword

In [20]:
# Check if char in name

char_name = "Max Payne"

if "Max" in char_name:
    print('The character who lost everything...')

The character who lost everything...

##### 'not in' keyword'

In [21]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('Not here bosss...')

Not here bosss...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [22]:
namex = input("what\'s your name?:")

if 'p' in namex:
    print ('You got a P in your {}'. format(namex))
    
else: 
    print ('You don\'t have a P in your {}'. format(namex))
    
#if 'p' not in namex:
   # print ('You don\'t have a P in your {}'. format(namex))

what's your name?:Naooufal
You don't have a P in your Naooufal

## Using 'and'/'or' with If Statements

In [23]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

# If with "and statements

if num11 / 5 == num12 and num13 - 7 == num14:
    print('True and True')

# If with 'or' statemenets

if num11 > num12 or num13 == num14:
    print('True and False')

True and True
True and False

### Elif Statements

In [24]:
fname = 'Max'

if fname == 'Smith':
    print('The nanme is Smith')
elif fname != 'Max':
    print('The name is not Max')
else:
    print('The name is Max')

The name is Max

### Else Statements

In [25]:
# see above

### For Loops

In [26]:
# for keyword, counter, in keyword, condition

#for i in range(10):
    #print(i)
    
name = 'Naoufal Rhioui'

for letter in name:
        print(letter)

N
a
o
u
f
a
l

R
h
i
o
u
i

##### Using 'in' keyword

In [27]:
# see above

##### Continue Statement

In [28]:
# will continue to next iteration

In [29]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [30]:
# will break out of current loop

In [31]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [32]:
# mostly used as a placeholder, and will continue on same iteration

In [33]:
for i in name:
    pass

##### Double For Loops

In [34]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ',j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [35]:
# while keyword, condition statement
# based on the conditional statement

num = 0

while num < 10:
    print(num)
    num+= 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [36]:
game_over = False

while True:
    print('infinite loop')
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [37]:
num = 0

while num< 5:
    print('\n While Loop Iteration: ' + str(num))
    
    for i in range(2):
        print ('For Loop Iteration: ', str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [38]:
# Start, Stop, Step

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [39]:
# Check the Length of a variable

name = 'Max'
length = len(name)
print(length)

3

##### help()

In [40]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [41]:
#Check a variable to find out what object family it belongs to
# isinstance(var, type)

print(isinstance(4.5,int))

if isinstance(4.5, float):
    print('This is a float type')

False
This is a float type

##### abs()

In [42]:
# |5|

print(abs(-5))

5

### Try and Except

In [43]:
# use whenever you expect to encounter a bug so that the error doesn't casue the program to stop
# use so you can log out graceful and useful erorr messages

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your Number is: ' + str(input_num))
        
except:
    print("That did not work ---- Error: Change your input to a number")

Guess a Number3
Your Number is: 3

### Lists

##### Declaring Lists

In [44]:
list1 = [] #Empty List Declaration

names = ['Naoufal', 'Rony', 'Rick', 'Bob', 'Leah Rhioui']

print(names)

['Naoufal', 'Rony', 'Rick', 'Bob', 'Leah Rhioui']

##### Indexing a List

In [45]:
#single index
print(names[0])

#print starting an index
print(names[1:])

#print starting at the begining of a list to N
print(names[:2])

#print starting at index 1 going up bu 2 in each iteration
print(names[1::2])

#print starting from the back and present in reverse order
print(names[::-1])

Naoufal
['Rony', 'Rick', 'Bob', 'Leah Rhioui']
['Naoufal', 'Rony']
['Rony', 'Bob']
['Leah Rhioui', 'Bob', 'Rick', 'Rony', 'Naoufal']

##### .append()

In [46]:
#add a name
names.append('Amina')
print(names)

['Naoufal', 'Rony', 'Rick', 'Bob', 'Leah Rhioui', 'Amina']

##### .insert()

In [47]:
#list.insert(index, value)
names.insert(3, 'Tom')
print(names)

['Naoufal', 'Rony', 'Rick', 'Tom', 'Bob', 'Leah Rhioui', 'Amina']

##### .pop()

In [48]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable
names.pop(3)
print(names)

['Naoufal', 'Rony', 'Rick', 'Bob', 'Leah Rhioui', 'Amina']


##### .remove()

In [49]:
#value to be removed, not index

#names.remove('Rick')
#print(names)

# remove multiple bobs out of the list

#names.append('Bob')
#print(names)

while 'Bob' in names:
    names.remove('Bob')
print(names)

['Naoufal', 'Rony', 'Rick', 'Leah Rhioui', 'Amina']

##### del()

In [50]:
# index to me removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del(names[1])
print(names)

['Naoufal', 'Rick', 'Leah Rhioui', 'Amina']

##### Concatenating Two Lists

In [51]:
l2 = [0, 1, 2]
l3 = [3, 4, 5]

large_list = l2 + l3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [52]:
# List are able to hold any type of element, including OTHER lists themselves
# They can also go as deep as you want, having many lists nested inside of eachother

names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
print(names)

print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [53]:
# two ways to loop through a list, one by index, the other by using the "in" keyword

# Loop with for loop (By index)

for i in range(len(names)):
    print(names[i])
    
#loop with a for loop (using the "in" keyword)

for i in names:
    print(i)

# Looping with enumerate

for index, value in enumerate(names):
    print(f'the index is {index} and the value is {value}')

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
the index is 0 and the value is Max
the index is 1 and the value is Sam
the index is 2 and the value is Josh
the index is 3 and the value is ['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [75]:
for i in range(0, 100):
    if i**3 > 1000:
        break
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [80]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for prime in range(2, 100):
    for i in range(2, prime):
        if prime % i == 0:
            break
    else:
        print("\n{} is a prime number".format(prime))

2 is a prime number

3 is a prime number

5 is a prime number

7 is a prime number

11 is a prime number

13 is a prime number

17 is a prime number

19 is a prime number

23 is a prime number

29 is a prime number

31 is a prime number

37 is a prime number

41 is a prime number

43 is a prime number

47 is a prime number

53 is a prime number

59 is a prime number

61 is a prime number

67 is a prime number

71 is a prime number

73 is a prime number

79 is a prime number

83 is a prime number

89 is a prime number

97 is a prime number

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [101]:
age = input('How old are you?')

if int(age) in range(0, 17):
    print("kids")
    
elif int(age) in range(18, 65):
    print('adults')
    
elif int(age) > 65:
    print('seniors')

How old are you?100
seniors